apiVersion: v1
kind: Pod
metadata:
  name: test-polkassembly-frontend
spec:
  containers:
  - name: test-polkassembly-fronetend
    image: "${CI_REGISTRY}/${KUBE_NAMESPACE}-front-end:${DOCKER_TAG}"
  imagePullSecrets:
  - name: regcred
---
apiVersion: v1
kind: Pod
metadata:
  name: test-polkassembly-auth-server
spec:
  containers:
  - name: test-polkassembly-frontend
    image: "${CI_REGISTRY}/${KUBE_NAMESPACE}-auth-server:${DOCKER_TAG}"
  imagePullSecrets:
  - name: regcred
