apiVersion: v1
kind: Pod
metadata:
  name: deployment-test
spec:
  containers:
  - name: test-polkassembly-frontend
    image: "${CI_REGISTRY}/${PROJECT}-front-end:${DOCKER_TAG}
  imagePullSecrets:
  - name: regcred
