version: "3.6"
services:
  redis:
    image: redis
    command: redis-server --requirepass redis
    ports:
      - "6379:6379"
  postgres:
    image: postgres
    restart: always
    ports:
    - "5431:5432"
    environment:
      POSTGRES_USER: <user>
      POSTGRES_PASSWORD: <password>
      POSTGRES_DB: governance-auth
      PGDATA: /var/lib/postgresql/data
    volumes:
    # persistent data locally
    - /var/polkassembly/auth-server/data:/var/lib/postgresql/data
