apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  annotations:
  labels:
    app: front-end
  name: front-end
spec:
  replicas: 1
  selector:
    matchLabels:
      app: front-end
  template:
    metadata:
      labels:
        app: front-end
    spec:
      containers:
      - name: front-end
        image: gcr.io/test-installations-222013/polkassembly-front-end:master
      - ports:
        - containerPort: 80
      imagePullSecrets:
      - name: regcred
      restartPolicy: Always
