version: "3.6"
services:
  postgres:
    image: postgres
    restart: always
    ports:
    - "5432:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: governance-discussion
      PGDATA: /var/lib/postgresql/data
    volumes:
    # persistent data locally
    - /var/polkassembly/hasura/data:/var/lib/postgresql/data
  graphql-engine:
    network_mode: "host"
    # image: hasura/graphql-engine:v1.0.0-rc.1.cli-migrations
    image: hasura/graphql-engine:pull2395-7ea7f82c
    volumes:
    # migration data
    - ./hasura-migrations/migrations:/hasura-migrations
    ports:
    - "8080:8080"
    depends_on:
    - "postgres"
    restart: always
    environment:
      HASURA_GRAPHQL_DATABASE_URL: postgres://postgres:postgres@postgres:5432/governance-discussion
      HASURA_GRAPHQL_ENABLE_CONSOLE: "true" # set to "false" to disable console
      HASURA_GRAPHQL_ENABLED_LOG_TYPES: startup, http-log, webhook-log, websocket-log, query-log
      HASURA_GRAPHQL_ADMIN_SECRET: <YOUR_HASURA_ADMIN_SECRET>
      HASURA_GRAPHQL_JWT_SECRET: '{ "type": "RS256", "key": "<JWT_PUBLIC_KEY_FROM_AUTH_SERVER>" }'
      HASURA_GRAPHQL_UNAUTHORIZED_ROLE: 'anonymous'
      HASURA_POST_SUBSCRIPTION_HOOK: "http://localhost:8010/auth/post/subscription"
      HASURA_POST_SUBSCRIPTION_SECRET: "<shared secret key with auth server>"
